# .env.example
KAFKA_BROKER=YOUR_KAFKA_BROKER:PORT
KAFKA_GROUP_ID=YOUR_GROUP_ID
KAFKA_TOPIC=YOUR_TOPIC
GYM_BRANCH_ID=YOUR_BRANCH_ID
TENANT=YOUR_TENANT

FLASK_HOST=0.0.0.0
FLASK_PORT=9998

PLCOMPRO_URL=plcommpro.dll
